<% content_for :for_head do %>
  <%= stylesheet_link_tag :home %>
  <title>Overview</title>
<% end %>
<%= render "layouts/sidebar" %>
<div class="col-md-10">
  <h1>Overview</h1>
  <div class="col-md-3">
    <h5>SacEntries you created in the last 7 days
    </h5>
    <ul class="list-group">
      <% @recent_sacentries.each do |sac_entry| %>
        <li class="list-group-item">
          <%= sac_entry.description %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <h5>Newest 10 categories created by users
    </h5>
    <ul class="list-group">
      <% @newest_categories.each do |category| %>
        <li class="list-group-item">
          <%= category.name %>
        </li>
      <% end %>
    </ul>
  </div>
    <div class="col-md-3">
    <h5>Most popular categories
    </h5>
    <ul class="list-group">
      <% @cat_hash.sort_by{|k, v| v}.reverse.first(10).each do |key, value| %>
        <li class="list-group-item">
          <span class="badge pull-right alert-success"> <%= value.to_s %> </span>
          <%= key %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
