<% content_for :for_head do %>
  <title>SacEntries</title>
<% end %>

<%= render "layouts/sidebar" %>

<div class="col-md-11">
<h1>SacEntries</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Date</th>
      <th>Type</th>
      <th>Recurring</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sac_entries.each do |sac_entry| %>
      <tr>
        <td><%= sac_entry.id %></td>
        <td><%= sac_entry.description %></td>
        <td><%= number_to_currency(sac_entry.amount) %></td>
        <td><%= sac_entry.category_id %></td>
        <td><%= sac_entry.date %></td>
        <td><%= sac_entry.type_id %></td>
        <td><%= sac_entry.recurring %></td>
        <td><%= link_to 'Show', sac_entry, :class => "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_sac_entry_path(sac_entry), :class => "btn btn-default" %></td>
        <td><%= link_to 'Delete', sac_entry, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Sac entry', new_sac_entry_path, :class => "btn btn-default" %>
</div>
