<% content_for :for_head do %>
  <%= stylesheet_link_tag :sidebar %>
<% end %>
<div id="sidebar" class="col-md-2 btn-group-vertical">
  <%= link_to 'Overview', home_overview_path, :class => 'btn btn-default', :type => 'button'   %>
  <%= link_to 'Categories', categories_path, :class => 'btn btn-default', :type => 'button'   %>
  <%= link_to 'SacEntries', sac_entries_path, :class => 'btn btn-default', :type => 'button'   %>
  <%= link_to 'Public Categories', category_user_index_path, :class => 'btn btn-default', :type => 'button'   %>
  <%= link_to 'Avatar', avatar_index_path, :class => 'btn btn-default', :type => 'button' %>
</div>
